@font-face {
  font-family: "Geist Sans";
  src: url("/fonts/geist/Geist-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 20px 0px;
  font-size: 14px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-content {
  width: 65%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  margin-bottom: 0px;
  font-size: 22px;
}

.title-version {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.status-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*background-color: #1f3f77;*/
  background-color: #f1f2f6;
  /*color: white;*/
  height: 40px;
  padding: 20px;
  border-radius: 24px;
  border: solid 1px #e7e0e0;
}


.info-box {
  width: 100%;
  margin-top: 50px; 
  display: flex;
  justify-content: center;
}

.info-list {
  width: 65%;
}

ul {
  padding: 0px;
}

.list-element {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 4px;
}

.docs-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.docs-section {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.divider {
  margin-top: 12px; 
  margin-bottom: 12px; 
  margin-left: 0px;
}


.configure-box {
  margin-top: 30px;
  width: 100%;
  background-color: #fff8f7;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.configure {
  width: 65%;
  margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.input-label {
  margin-bottom: 5px;
  font-weight: 600;
}


.btn:focus {
  outline: none !important;
}

.icon-btn-div {
  cursor: pointer;
  padding: 2px 5px;
}

.icon-btn {
  background-color: #eeeeee;
  border: none;
  color: grey;
  padding: 0px 8px;
  cursor: pointer;
  margin-top: 12px;
  margin-left: -66px;
  font-size: 18px;
}

.icon-btn:hover {
  background-color: #eeeeee;
  color: black; /* White text */
}

.copy-form {
  padding: 6px 36px 6px 14px;
}

input[readonly],
textarea[readonly] {
  background-color: #eee !important;
  opacity: 1;
}

.custom-input {
  height: 45px;
  box-shadow: 0px 0px 7px 0px #bdbdbd;
  border: solid 2px transparent;
  border-radius: 6px;
}

.custom-input:hover {
  border-color: #0ba2dc;
  box-shadow: 0 0 transparent;
}

.custom-input:focus {
  border: solid 2px;
  border-color: #0ba2dc;
}

.custom-select{
  width: 100%;
  height: 45px;
  box-shadow: 0px 0px 7px 0px #bdbdbd;
  border: solid 2px transparent;
  border-radius: 6px;
  appearance: none;          /* Rimuove lo stile di default */
  -webkit-appearance: none;  /* Safari */
  -moz-appearance: none;     /* Firefox */
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='gray' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14l-4.796-5.481C2.122 5.332 2.482 4.5 3.252 4.5h9.496c.77 0 1.13.832.801 1.159l-4.796 5.481a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center; /* posizionamento freccia */
  background-size: 12px;
  padding-right: 2rem; /* spazio per la freccia */
}

.custom-select:hover {
  box-shadow: 0 0 transparent;
  border-color: #0ba2dc;
}

.custom-select:focus {
  border-color: #0ba2dc;
}

.custom-tooltip {
  position: relative;
  display: inline-block;
  color: #0ba2dc;
}

/* Tooltip text */
.custom-tooltip .custom-tooltiptext {
  font-family: "Geist Sans", Poppins, Arial, sans-serif;
  visibility: hidden;
  width: 300px;
  background-color: #8c8e8fbd;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  padding: 8px 8px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  margin-left: 8px;
  margin-top: -15px;
  
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.5s;
}

/* Tooltip arrow 
.custom-tooltip .custom-tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #8c8e8fbd transparent transparent;
}
*/

/* Show the tooltip text when you mouse over the tooltip container */
.custom-tooltip:hover .custom-tooltiptext {
  visibility: visible;
  opacity: 1;
}

.disconnect-box {
  margin-top: 20px;

  width: 100%;
  display: flex;
  justify-content: center;
}

.disconnect {
  width: 65%;
  margin-bottom: 30px;
  
}

.disconnect-button {
  width: 120px;
  margin-top: 5px;
  color: white;
  border-color: #f0593d;
  background-color: #f0593d;
  letter-spacing: 0.5px;
  font-size: 13px;
}

.disconnect-button:hover {
  width: 120px;
  margin-top: 5px;
  color: white;
  border-color: #d53e21;
  background-color: #d53e21;
  letter-spacing: 0.5px;
}

.disconnect-button:focus {
  width: 120px;
  margin-top: 5px;
  color: white;
  font-weight: 500;
  border-color: #d53e21;
  background-color: #d53e21;
  letter-spacing: 0.5px;
}


.version-box {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 20px 0px;
}

.version {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.version-title {
  font-size: 18px;
  margin-right: 20px;
}

.modal-text {
  margin-top: 20px; 
  margin-bottom: 20px;
}

.logo-container {
  margin: 0px 20px 0px 0px;
}

.green-circle {
  color: green;
  margin-right: 6px;
}

.red-circle {
  color: #f0593d;
  margin-right: 6px;
}

.success-modal {
  display: flex;
  z-index: 99;
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center;
  justify-content: center;
  padding-top: 100px;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.success-modal .modal-content {
  width: 400px;
  height: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-modal {
  display: flex;
  z-index: 99;
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center;
  justify-content: center;
  padding-top: 100px;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.error-modal .modal-content {
  width: 400px;
  height: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cancel-btn {
  width: 120px;
  margin-top: 5px;
  color: white;
  border-color: #c0c0c0;
  background-color: #c0c0c0;
  letter-spacing: 0.5px;
}

.cancel-btn:hover {
  width: 120px;
  margin-top: 5px;
  color: white;
  border-color: #929292;
  background-color: #929292;
  letter-spacing: 0.5px;
}

.cancel-btn:focus {
  width: 120px;
  margin-top: 5px;
  color: white;
  font-weight: 500;
  border-color: #929292;
  background-color: #929292;
  letter-spacing: 0.5px;
}

.dep-container {
  display: flex;
  flex-direction: row;
  width: 700px;
}

.department-div {
  cursor: pointer;
  height: 40px;
  background-color: #ececec;
  border: solid 2px #ececec;
  border-radius: 6px;
  margin-right: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.department-div:hover {
  background-color: #fff;
  border: solid 2px #0ba2dc;
}

.selected-department-div {
  cursor: pointer;
  height: 40px;
  background-color: #fff;
  border: solid 2px #0ba2dc;
  border-radius: 6px;
  margin-right: 10px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  /*justify-content: center;*/
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.mfa-modal {
  display: flex;
  z-index: 99;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  text-align: center;
  /* Modal centrata verticalmente e orizzontalmente */
}

.mfa-modal .modal-content {
  width: 450px;
  height: 330px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  
  /* background: white;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); */
}

.code-inputs {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0px 2px;
}

.code-input {
  width: 36px;
  height: 45px;
  font-size: 22px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-right: 6px;
}

.code-input:focus {
  border-color: #007bff;
  outline: none;
}

.btn {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.confirm-btn {
  background-color: #007bff;
  color: white;
}

.cancel-btn {
  background-color: #ccc;
  color: black;
}
